@using Entities.Models

@model Product

<div class="col-sm-12 col-md-4 my-3">
    <!-- Card -->
    <div class="card">
        <!-- Card image -->
        <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).webp"
                 alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title">@Model.ProductName</h4>
            <!-- Text -->
            <p class="card-text">
                @Model.ProductPrice ₺
            </p>
        </div>

    </div>
    <!-- Card -->
</div>

<div class="btn-group">
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i>&nbsp;Home</a>
    <a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index"><i class="fa-solid fa-list"></i>&nbsp;Product List</a>
</div>