@model IEnumerable<Category>

<div class="text-center my-3">
    <h6 class="display-6">
        Categories
    </h6>
</div>
<ul class="list-group">
    @foreach (var ctg in Model)
    {
        <li class="list-group-item">@ctg.CategoryName</li>
    }
</ul>